DJANGO_DEBUG=False
DJANGO_SECRET_KEY=troque-por-uma-chave-grande-gerada-no-servidor
DJANGO_ALLOWED_HOSTS=seudominio.com.br,www.seudominio.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://seudominio.com.br,https://www.seudominio.com.br

DB_NAME=sac_intranet
DB_USER=postgres
DB_PASSWORD=troque-a-senha
DB_HOST=localhost
DB_PORT=5432

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=False

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=
SERVER_EMAIL=
ALERTAS_EMAILS_INTERNOS=

SLA_ALERTA_AMARELO_HORAS=12
SLA_ALERTA_VERMELHO_HORAS=24
SLA_ALERTA_REINCIDENCIA_HORAS=48
